.header-container {
	min-height: 60px;
	position: fixed;
	display: flex;
	align-items: center;
	padding: 0 20px;
	top: 0;
	left: 0;
	right: 0;
}

.header-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.header-menu a {
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 10px;
	flex-wrap: nowrap;
}

.header-rightMenu a {
	font-weight: 600;
	text-transform: uppercase;
	margin-right: 10px;
	flex-wrap: nowrap;
}
